services:
  php-apache:
    build: .
    container_name: php-apache
    ports:
      - "8000:80" # http://localhost:8000
    volumes:
      - ./src:/var/www/html
    depends_on:
      - mysql
    networks:
      - mynetwork

  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gym_management
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - mynetwork

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "8080:80" # http://localhost:8080
    networks:
      - mynetwork

volumes:
  mysql_data:

networks:
  mynetwork:
